* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #343a40;
    font-family: "Merriweather";
}

header {
    height: 9vh;
    display: flex;
}

.header-menu {
    width: 55%;
    height: 100%;
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f8f9fa;
}

.header-links {
    width: 45%;
    height: 75%;
    display: flex;
    justify-content: center;
}

.header-link {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-link a {
    text-decoration: none;
    color: inherit;
    font-size: 1.3rem;
    transition: 600ms ease-in-out;
}

.header-link a:hover {
    transform: scale(98%);
    color: #0076CE;
}

.logo {
    padding: 10px;
    font-size: 1.4rem;
    display: inline-block;
}

.logo a {
    font-size: 1.3rem;
    text-decoration: none;
    color: inherit;
    transition: 600ms ease-in-out;
}

.logo a:hover {
    color: #0076CE;
}
.container {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    font-family: "Merriweather";
}
.about-area {
    border-radius: 13px;
    padding: 20px;
    background-color: #6c757d;
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-content {
    margin-left: -150px;
    color: #f8f9fa;
    padding: 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 45%;
    font-size: 1.3rem;
}

.img-area img {
    width: 200px;
    border-radius: 50%;
    border: 3px solid #0076CE;
}

.links-area {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.link-area img {
    transition: 600ms ease-in-out;
}

.link-area img:hover {
    background-color: #0076CE;
    border-radius: 50%;
}