* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #343a40;
    font-family: "Merriweather";
}

header {
    height: 9vh;
    display: flex;
}

.header-menu {
    width: 55%;
    height: 100%;
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f8f9fa;
}

.header-links {
    width: 45%;
    height: 75%;
    display: flex;
    justify-content: center;
}

.header-link {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-link a {
    text-decoration: none;
    color: inherit;
    font-size: 1.3rem;
    transition: 0.6s ease-in-out;
}

.header-link a:hover {
    transform: scale(98%);
    color: #0076CE;
}

.logo {
    padding: 10px;
    font-size: 1.4rem;
    display: inline-block;
}

.logo a {
    font-size: 1.3rem;
    text-decoration: none;
    color: inherit;
    transition: 0.6s ease-in-out;
}

.logo a:hover {
    color: #0076CE;
}