* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #343a40;
    font-family: "Merriweather";
    color: #f8f9fa;
}

header {
    height: 9vh;
    display: flex;
}

.header-menu {
    width: 55%;
    height: 100%;
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    width: 45%;
    height: 75%;
    display: flex;
    justify-content: center;
}

.header-link {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-link a {
    text-decoration: none;
    color: inherit;
    font-size: 1.3rem;
    transition: 600ms ease-in-out;
}

.header-link a:hover {
    transform: scale(98%);
    color: #0076CE;
}

.logo {
    padding: 10px;
    font-size: 1.4rem;
    display: inline-block;
}

.logo a {
    font-size: 1.3rem;
    text-decoration: none;
    color: inherit;
    transition: 600ms ease-in-out;
}

.logo a:hover {
    color: #0076CE;
}
.container {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

.about-area {
    border-radius: 13px;
    padding: 20px;
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-content {
    padding: 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 65%;
}

.about-content p {
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1.8;
    letter-spacing: 1.5px;
}

.img-area img {
    width: 180px;
    border-radius: 50%;
    border: 3px solid #343a40;
}

.links-area {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.link-area img {
    transition: 600ms ease-in-out;
}

.link-area img:hover {
    background-color: #0076CE;
    border-radius: 50%;
}

.main-about-me {
    padding-top: 50px;
    margin: auto;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me-title {
    padding-left: 14px;
    padding-right: 14px;
    font-size: 1.7rem;
    letter-spacing: 5px;
    border-bottom: 2px solid #f8f9fa;
}

.about-me-content {
    margin-top: 20px;
    font-size: 1.2rem;
    letter-spacing: 1.3px;
}

.main-about-area {
    padding-top: 80px;
    margin: auto;
    width: 55%;
    display: flex;
}

.about-container, .skills-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.main-about-title h2 {
    font-size: 1.7rem;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.main-about-desc p {
    font-size: 1rem;
    line-height: 1.8;
}

.skills-container {
    display: flex;
    flex-direction: column;
}

.skills-boxes {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
}

.box-skill {
    transition: 600ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex: 1;
    border-radius: 30%;
}